<!DOCTYPE html>
<html>
<head>
	<title>Weather</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="icon" type="text/css" href="./img/weather.png">
	
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Use this site to get your area weather</p>
		<form>
			<input placeholder="Location">
			<button>Search</button>
		</form>
		<p id="message-1"></p>
		<p id="message-2"></p>
	</div>
	{{>footer}}
	<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>